fastapi==0.95.0
pydantic==1.10.2
uvicorn==0.22.0
PyMuPDF==1.24.9
openai==1.26.0
python-dotenv==1.0.1
pytesseract==0.3.8
pdf2image==1.16.3
Pillow==9.3.0
python-multipart==0.0.5
azure-cosmos==4.7.0
azure-ai-formrecognizer==3.3.3
azure-common==1.1.28
azure-core==1.30.2
azure-identity==1.17.1